<div class="container-fluid ">
    <div class="pedido">
        <h1>{{tituloPagina}}</h1>

        <div>
            <form action="/pedido/alteraPedido/{{pedido.codigo}}" method="post">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <label for="nome" class="form-label">Cliente:</label>
                        <input required type="text" value="{{pedido.nome}}" name="nome" class="form-control" id="nome" placeholder="nome do cliente">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <label for="telefone" value="{{pedido.telefone}}" class="form-label">Telefone do cliente:</label>
                        <input required value="{{pedido.telefone}}" type="tel" name="telefone" class="form-control" id="telefone"
                            placeholder="digite o telefone do cliente">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <label for="produtos" class="form-label">Produtos:</label>
                        <input required value="{{pedido.produtos}}" type="text" name="produtos" class="form-control" id="nome"
                            placeholder="Digite os produtos e quantidade">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <label for="valorPedido" class="form-label">Valor total do pedido:</label>
                        <input required value="{{pedido.valorPedido}}" type="number" step="0.01" name="valorPedido" class="form-control" id="telefone"
                            placeholder="digite o valor total do pedido">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <label for="destinatario" class="form-label">Entregar para: </label>
                        <input required value="{{pedido.destinatario}}" type="text" name="destinatario" class="form-control" id="destinatario"
                            placeholder="digite o nome de quem vai receber">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <label for="destinatarioNum" class="form-label">Telefone de quem vai receber: </label>
                        <input type="tel" value="{{pedido.destinatarioNum}}" name="destinatarioNum" class="form-control" id="destinatarioNum"
                            placeholder="digite o telefone de quem vai receber">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <label for="endereco" class="form-label">Endereço: </label>
                        <input type="text" value="{{pedido.endereco}}" name="endereco" class="form-control" id="endereco"
                            placeholder="digite o endereço da entrega">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <label for="referencia" class="form-label">Referência: </label>
                        <input type="text" value="{{pedido.referencia}}" name="referencia" class="form-control" id="referencia"
                            placeholder="digite o endereço da entrega">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-2">
                        <label for="dataEntrega" class="form-label">Data: </label>
                        <input type="date" value="{{pedido.dataEntrega}}" name="dataEntrega" class="form-control" id="dataDeEntrega">
                    </div>
                    <div class="col-6 col-md-4 col-lg-2">
                        <label for="horarioEntrega" class="form-label">Horário: </label>
                        <input type="time" value="{{pedido.horarioEntrega}}" name="horarioEntrega" class="form-control" id="horarioEntrega">
                    </div>
                </div>
                <button class="btn btn-secondary" type="submit">Alterar pedido</button>
                <a href="/consulta"><button class="btn btn-danger" type="button">Cancelar</button></a>
            </form>
        </div>
    </div>
</div>